html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	color: #FFFFFF;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1210px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.background{
	background: url(../images/bg.png) center #230E2B;
	background-size: cover;
	@media (max-width:1210px) {
		background: url(../images/bg-first.png) no-repeat, url(../images/bg-second.png) right no-repeat #230E2B;
	}

}
